<div class="container">
                <div class="row">
                    <div class="col-sm-12 text-left">
                        <h2 class="title">BazineINTEX предлагает услугу доставки товара по городу Кишинев и по Молдове.</h2>
                    </div><!-- end col -->    
                </div><!-- end row -->
                
                <hr class="spacer-5"> <hr class="spacer-20 no-border">
                
                <div class="row">
                    <div class="col-sm-12">
                        <h5 class="regular subtitle">Заказ оформляется:</h5>
                        <p>- по телефону</p>
                        
                        <hr class="spacer-30">
                        
                        <h5 class="regular subtitle">Доставка:</h5>
                        <p>- Доставка осуществляется в течение 1-3 дней с момента заказа. Точное время доставки и адрес оговаривается с менеджером Интернет-магазина, после получения заказа.</p>
                        <p>- Стоимость доставки по Кишиневу - 30 лей. При заказе свыше 300 лей, доставка бесплатна.</p>
                        <p>- Стоимость доставки по стране расчитывается согласно тарифам Posta Moldovei.</p>
                        <p>- Вы имеете право отказаться от покупки товара, после его доставки. В этом случае Вам необходимо указать причину отказа и заплатить стоимость доставки, независимо от суммы заказа. Товар будет возвращен.</p>
                        
                        <hr class="spacer-15 no-border">
                        
                        <h6 class="regular subtitle">Оплата:</h6>
                        <ul class="list">
                            <li>Оплата производится наличным расчетом, по факту доставки товара.</li>
                        </ul>
                        
                        <hr class="spacer-30">
                        
                        <p class="regular subtitle">Если у Вас возникли вопросы, то наши менеджеры всегда готовы ответить на них. </p>
                        <h6 class="regular subtitle">Свяжитесь с нами, любым, удобным для Вас способом.</h6>
                        
                        <a href="/contact" class="btn btn-gray semi-circle btn-sm">Наши координаты</a>
                    </div><!-- end col -->
                </div><!-- end row -->                
            </div>