<div class="row">
    <div class="col-sm-7 vertical-align">
        <h2 class="title">About Plus</h2>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
    </div><!-- end col -->
    <div class="col-sm-5 vertical-align">
        <figure class="zoom-in">
            <img src="https://www.intexcorp.com/media/heroimages/inflatable_spas_512x356-sep16.jpg" alt="">
        </figure>
    </div><!-- end col -->
</div>
<hr class="spacer-100">