<div class="row">
    <div class="col-sm-7 vertical-align">
        <h2 class="title"><%= Spree.t(:about_us) %></h2>
        <% if I18n.locale == :ru %>
            <p><strong>Intex Dervelopment Co Ltd</strong> - мировой лидер по производству сборно-разборных бассейнов, надувных матрацев, лодок и предметов из ПВХ для семейного отдыха на воде, на даче и дома.
                <br/>
                    Миллионы людей используют продукцию Intex круглый год с удовольствием. Куда бы Вы не ехали, где бы Вы не отдыхали, товары Intex создадут прекрасную атмосферу для отдыха и принесут радость и веселье Вам и Вашей семье. 
                <br/><br/>
                    В квартире и на даче для детей доступны игровые комплексы, манежи, батуты, детские домики. На природе - бассейны, мячи, круги для плавания. Товары ИНТЕКС рекомендованы для дошкольного воспитания и обучения детей! Все изделия ИНТЕКС проходят длительные тесты на прочность, долговечность и экологичность. 
                    Каждый год выходит новая коллекция изделий ИНТЕКС.<br/> 
                    Вся продукция сертифицирована. 
                <br/><br/>
                    Качество, достойное самых изысканных требований!<br/> 
                    Превосходное соотношение цены и качества!<br/> 
                    INTEX - это не просто надувные игрушки, это среда обитания круглый год!
            </p>
        <% else %>
            <p><strong>Intex Dervelopment Co Ltd</strong> - мировой лидер по производству сборно-разборных бассейнов, надувных матрацев, лодок и предметов из ПВХ для семейного отдыха на воде, на даче и дома.
                <br/>
                    Миллионы людей используют продукцию Intex круглый год с удовольствием. Куда бы Вы не ехали, где бы Вы не отдыхали, товары Intex создадут прекрасную атмосферу для отдыха и принесут радость и веселье Вам и Вашей семье. 
                <br/><br/>
                    В квартире и на даче для детей доступны игровые комплексы, манежи, батуты, детские домики. На природе - бассейны, мячи, круги для плавания. Товары ИНТЕКС рекомендованы для дошкольного воспитания и обучения детей! Все изделия ИНТЕКС проходят длительные тесты на прочность, долговечность и экологичность. 
                    Каждый год выходит новая коллекция изделий ИНТЕКС.<br/> 
                    Вся продукция сертифицирована. 
                <br/><br/>
                    Качество, достойное самых изысканных требований!<br/> 
                    Превосходное соотношение цены и качества!<br/> 
                    INTEX - это не просто надувные игрушки, это среда обитания круглый год!
            </p>
        <% end %>
    </div><!-- end col -->
    <div class="col-sm-5 vertical-align">
        <figure class="zoom-in">
            <img src="https://www.intexcorp.com/media/heroimages/inflatable_spas_512x356-sep16.jpg" alt="">
        </figure>
    </div><!-- end col -->
</div>
<hr class="spacer-100">