<!--<header id="header" class="row" data-hook>
  <figure id="logo" class="columns six " data-hook><%#= logo img_options:{ class: 'img-responsive', width: '95' } %></figure>
  <%#= render :partial => 'spree/shared/nav_bar' %>
  <%#= render :partial => 'spree/shared/main_nav_bar' if store_menu? %>
</header> -->


<div class="topBar inverse">
    <div class="container">
        <ul class="list-inline pull-left hidden-sm hidden-xs">
            <li><span class="text-primary">Ai o intrebare?</span> Suna +373 69 999 999</li>
        </ul>
        
        <ul class="topBarNav pull-right">
            <li class="linkdown">
                <a href="javascript:void(0);">
                    <span class="">
                      <img src="http://diamondcreative.net/plus-v1.1/img/flags/flag-french.jpg" class="mr-5" alt="">
                        Română 
                        <i class="fa fa-angle-down ml-5"></i>
                    </span>    
                </a>
                <ul class="w-100">
                    <li><a href="javascript:void(0);"><img src="http://diamondcreative.net/plus-v1.1/img/flags/flag-french.jpg" class="mr-5" alt="">Русский</a></li>
                    <li class="active"><a href="javascript:void(0);"><img src="http://diamondcreative.net/plus-v1.1/img/flags/flag-french.jpg" class="mr-5" alt="">Română</a></li>
                </ul>
            </li>
        </ul>
    </div><!-- end container -->
</div><!-- end topBar -->

<div class="middleBar">
    <div class="container">
        <div class="row table">
            <div class="col-sm-3 vertical-align text-left hidden-xs">
                <a href="javascript:void(0);">
                    <img class="image-responsive" width="160" src="https://s18.postimg.org/4gu1zrwmx/logo_azur.png" alt="">
                </a>
            </div><!-- end col -->
            <div class="col-sm-6 vertical-align text-center">
                <input type="text" placeholder="Search" name="email" class="form-control input-md">
            </div><!-- end col -->
        <!-- Bagam Social Media /facebook /instagram /odno... -->    
            <div class="col-sm-3 vertical-align header-items hidden-xs">
                        <div class="header-item mr-5 ">
                            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="facebook">
                                <i class="fa fa-facebook"></i>
                                <!--<sub>2</sub> -->
                            </a>
                        </div>
                        <div class="header-item">
                            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="instagram">
                                <i class="fa fa-instagram"></i>
                                <!--<sub>2</sub> -->
                            </a>
                        </div>
                        <div class="header-item">
                            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="" data-original-title="instagram">
                                <i class="fa fa-odnoklassniki"></i>
                                <!--<sub>2</sub> -->
                            </a>
                        </div>
                    </div><!-- end col -->
        </div><!-- end  row -->
    </div><!-- end container -->
</div><!-- end middleBar -->